html, body, div, span, applet, object, 
h1, h2, h3, h4, p, 
a, 
em, img,
small, strike, strong, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, 
figure, figcaption, footer, header,
menu, nav, section, summary
{margin:0;
    padding:0;
    border:0;
    font-size:100%;
	font: inherit;
	vertical-align: baseline;
}
ul{
    list-style-type: none; 
    margin: 0;
}
