@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
  --light-bg: #f9eaea;
  --dark-bg: #3f1d38;
  --brand-color: #e19898;
  --button-primary: #4d3c77;
  --button-tertiary: #b07a8d;
  --color-white: #ffffff;
  --font-family: "Jost", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
}

h1 {
  color: var(--brand-color);
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.075rem;
  line-height: 88.5%;
}

h2 {
  color: var(--color-white);
}

h3 {
  color: var(--dark-bg);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06rem;
  line-height: normal;
}

h2,
p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--dark-bg);
}

.fa-brands,
.fab {
  color: var(--dark-bg);
  font-size: 48px;
}

a.primary-button {
  padding: 0.625rem 0;
}

a.primary-button button,
input.primary-button {
  background-color: var(--button-primary);
  border: none;
  border-radius: 1.75rem;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1.25rem;
  margin-top: 2rem;
  padding: 0.625rem 3.0625rem;
}

a.primary-button button:hover {
  background-color: var(--dark-bg);
  transition: all 500ms ease-in-out;
}

header,
footer {
  background-color: var(--brand-color);
}

header {
  padding: 2rem;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 56px 0;
}

.dew-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 4.5rem 0;
}

.navbar {
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  align-items: center;
  display: flex;
  gap: 3rem;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.tertiary-button button {
  background-color: var(--button-tertiary);
  border: 1px solid var(--light-bg);
  border-radius: 28px;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
}

.tertiary-button button:hover {
  background-color: var(--button-primary);
  transition: all 500ms ease-in-out;
}

main .container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

aside {
  align-self: center;
}

/* Estilo para el footer */

footer {
  background-color: var(--brand-color);
  padding: 1.25em;
}

ul.container {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li.developer {
  background-color: var(--brand-color);
  border-radius: 0.625em;
  margin: 0.625em;
  overflow: hidden;
  padding: 0.625em;
  text-align: center;
  width: 12.5em;
}

li.developer img {
  background-color: var(--dark-bg);
  border-radius: 50%;
  height: 6.25em;
  width: 6.25em;
}

li.developer h2 {
  margin: 0.3125em 0 0;
}

li.developer p {
  margin: 0;
}

/*paginas perfil*/

.main-name {
  padding-right: 205px;
  text-align: justify;
}
.name-spe {
  padding-right: 265px;
}

.name-spe h1 {
  margin-left: 60px;
}

.main-name,
.name-spe h2 {
  color: var(--dark-bg);
  margin-left: 60px;
  margin-top: 5px;
}
.main-name article {
  margin-left: 60px;
  margin-top: 30px;
}
.contact,
.primary-button {
  /*margin-left: 35px;*/
  margin-top: 70px;
}
.contact a i {
  margin-left: 30px;
  margin-top: 100px;
}
/* página contact */

.contact-container {
  display: flex;
  flex-direction: column;
  height: 18em;
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 7em;
  width: 100%;
}

.contact-title {
  font-size: 4em;
  height: 3rem;
  margin-bottom: 0.3em;
}

.data-container {
  display: flex;
  justify-content: center;
  padding: 2em 2em 4em 2em;
}

input {
  appearance: none;
  background-color: var(--light-bg);
  border: none;
  border-color: var(--light-bg);
  border-radius: 1.5em;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0.625rem 1.25rem;
  width: 18em;
}

input::placeholder {
  color: #c9bfbe;
}

textarea {
  appearance: none;
  background-color: var(--light-bg);
  border-color: var(--light-bg);
  border-radius: 1.5em;
  color: #c9bfbe;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0.5rem 1.25rem;
  resize: none;
  width: 18em;
}

textarea::placeholder {
  color: #c9bfbe;
}

.first-inputs {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

.buttons {
  display: flex;
  margin-top: 20px;
  padding: 0.625rem 1.25rem 0.625rem 0;
}

.buttons-mobile {
  display: none;
  /* Oculta .buttons por defecto en dispositivos móviles */
}

.contact-button {
  background-color: var(--button-primary);
  border: 1px solid var(--light-bg);
  border-radius: 28px;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.625rem 1.9rem;
}

.cancel-button {
  background-color: var(--brand-color);
  border: 1px solid var(--light-bg);
  border-radius: 28px;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
}

label {
  margin-bottom: 5px;
  padding: 0.625rem 1.25rem;
}

.secondary-input {
  display: flex;
  flex-direction: column;
}

.footer-mobile {
  display: none;
}

/* ———– estilos página contact para móviles ———– */
/* cambios css para modo vertical y horizontal */

@media only screen and (min-width: 320px) and (max-width: 896px) {
  .contact-container {
    height: 28em;
  }

  .navbar {
    align-content: center;
    display: flex;
    justify-content: space-between;
  }

  .nav-container {
    display: none;
  }

  .logo {
    margin: 0 auto;
  }

  .contact-container {
    height: 30em;
  }

  .contact-title {
    margin-left: 0.5em;
  }

  .data-container {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    width: 17.5em;
  }

  .first-inputs {
    order: 1;
  }

  .secondary-input {
    order: 2;
  }

  .buttons-mobile {
    display: flex;
    gap: 1em;
    justify-content: center;
    order: 4;
    padding-top: 1em;
  }

  .buttons-mobile button {
    width: 8em;
  }

  .buttons {
    display: none;
  }

  footer {
    display: none;
  }

  .footer-mobile {
    background-color: var(--dark-bg);
    display: block;
  }

  .footer-container {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 3em;
    justify-content: center;
    padding-left: 2em;
  }

  .home-link {
    margin: 0;
  }

  .button-mobile {
    background-color: var(--dark-bgy);
    border: 0.05em solid var(--light-bg);
    border-radius: 28px;
    color: var(--color-white);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    margin: 0;
    padding: 0.625rem 1.9rem;
  }
}
