@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
  --light-bg: #f9eaea;
  --dark-bg: #3f1d38;
  --brand-color: #e19898;
  --button-primary: #4d3c77;
  --button-tertiary: #b07a8d;
  --color-white: #ffffff;
  --font-family: "Jost", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
}

h1 {
  color: var(--brand-color);
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.075rem;
  line-height: 88.5%;
}

h2 {
  color: var(--color-white);
}

h3 {
  color: var(--dark-bg);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06rem;
  line-height: normal;
}

h2,
p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--dark-bg);
}

.fa-brands,
.fab {
  color: var(--dark-bg);
  font-size: 48px;
}

a.primary-button {
  padding: 0.625rem 0;
}

a.primary-button button {
  background-color: var(--button-primary);
  border: none;
  border-radius: 1.75rem;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1.25rem;
  padding: 0.625rem 3.0625rem;
}

header , footer{
  background-color: var(--brand-color);
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}

