@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

:root {
  --light-bg: #f9eaea;
  --dark-bg: #3f1d38;
  --brand-color: #e19898;
  --button-primary: #4d3c77;
  --button-tertiary: #b07a8d;
  --color-white: #ffffff;
  --font-family: "Jost", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-family);
}

h1 {
  color: var(--brand-color);
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.075rem;
  line-height: 88.5%;
}

h2 {
  color: var(--color-white);
}

h3 {
  color: var(--dark-bg);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06rem;
  line-height: normal;
}

h2,
p {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  color: var(--dark-bg);
}

.fa-brands,
.fab {
  color: var(--dark-bg);
  font-size: 48px;
}

a.primary-button {
  padding: 0.625rem 0;
}

a.primary-button button,
input.primary-button {
  background-color: var(--button-primary);
  border: none;
  border-radius: 1.75rem;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1.25rem;
  margin-top: 2rem;
  padding: 0.625rem 3.0625rem;
}

a.primary-button button:hover {
  background-color: var(--dark-bg);
  transition: all 500ms ease-in-out;
}

header,
footer {
  background-color: var(--brand-color);
}

header {
  padding: 2rem;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 56px 0;
}
/*
.dew-container {
    background-image: url("../images/gota.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
*/
.dew-container img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  padding: 4.5rem 0;
  width: 100%;
}

.dew-container {
  background: #e19898;
  border-radius: 100% 0 100% 100%;
  height: 444px;
  width: 444px;
}

.navbar {
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.nav-container {
  align-items: center;
  display: flex;
  gap: 3rem;
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.tertiary-button button {
  background-color: var(--button-tertiary);
  border: 1px solid var(--light-bg);
  border-radius: 28px;
  color: var(--color-white);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.625rem 1.25rem;
}

.tertiary-button button:hover {
  background-color: var(--button-primary);
  transition: all 500ms ease-in-out;
}

main .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

aside {
  align-self: center;
}

/* Estilo para el footer */

footer {
  background-color: var(--brand-color);
  padding: 1.25em;
}

ul.container {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li.developer {
  background-color: var(--brand-color);
  border-radius: 0.625em;
  margin: 0.625em;
  overflow: hidden;
  padding: 0.625em;
  text-align: center;
  width: 12.5em;
}

li.developer img {
  width: 6.25em; 
  height: 6.25em; 
  border-radius: 50%;
  background-color: var(--dark-bg);

}

li.developer h2 {
  margin: 0.3125em 0; 
}

li.developer p {
  margin: 0;
}

/*paginas perfil*/

.main-name{
    padding-right: 205px;
    text-align: justify;
}
.name-spe{
    padding-right: 265px;
}

.contact{
    content:align;
}
